branches/jboss-5.1/src/xml/SSDS_Metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright 2009 MBARI
	
	Licensed under the GNU LESSER GENERAL PUBLIC LICENSE, Version 2.1 
	(the "License"); you may not use this file except in compliance 
	with the License. You may obtain a copy of the License at
	
	http://www.gnu.org/copyleft/lesser.html
	
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Metadata">
		<xs:annotation>
			<xs:documentation>This is the root tag to define Metadata for MBARI's Shore-Side Data System
        (SSDS)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataContainer" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DataContainerGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DataProducer" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DataProducerGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Deployment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Device" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Event" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Keyword" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Person" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ProcessRun" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Resource" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Software" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="StandardDomain" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="StandardKeyword" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="StandardReferenceScale" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="StandardUnit" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="StandardVariable" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="lastAuthor" type="xs:string" use="optional"/>
			<xs:attribute name="lastUpdate" type="xs:string" use="optional"/>
			<xs:attribute name="majorVersion" type="xs:string" use="optional"/>
			<xs:attribute name="minorVersion" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<!-- ************** -->
	<!-- DATA CONTAINER -->
	<!-- ************** -->
	<xs:element name="DataContainer">
		<xs:annotation>
			<xs:documentation>Reference to data stored in any container</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="consumer" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="DataContainerGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HeaderDescription" minOccurs="0"/>
				<xs:element ref="Keyword" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Person" minOccurs="0"/>
				<xs:element ref="RecordDescription" minOccurs="0"/>
				<xs:element ref="Resource" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>internal database record ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" use="optional">
				<xs:annotation>
					<xs:documentation>name of the container of data</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2048"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="dataContainerType" use="required">
				<xs:annotation>
					<xs:documentation>Indicates what type of DataContainer it is</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="File"/>
						<xs:enumeration value="Stream"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="startDate" type="xs:dateTime" use="optional">
				<xs:annotation>
					<xs:documentation>date and time of earliest data record in file</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="endDate" type="xs:dateTime" use="optional">
				<xs:annotation>
					<xs:documentation>date and time of latest data record in file</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="original" type="xs:boolean" use="optional" default="false">
				<xs:annotation>
					<xs:documentation>whether this is original data submitted to SSDS, or has been modified
            from its original format</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="uri" type="uriString" use="required">
				<xs:annotation>
					<xs:documentation>URI reference to specified item</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="contentLength" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>?one of 'ascii' or 'binary'</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mimeType" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>?one of the standard MIME types (defined at
            http://www.iana.org/assignments/media-types/), or extensions (defined at
            http://www.mbari.org/ssds/referenceStds/mimetypes.html); typically used by external
            applications when accessing the data resource</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="numberOfRecords" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>The number of records that are in the file</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="dodsAccessible" type="xs:boolean" use="optional" default="false">
				<xs:annotation>
					<xs:documentation>?whether data can be accessible via DODS server</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="dodsUrl" type="uriString" use="optional">
				<xs:annotation>
					<xs:documentation>The URL that points to the DODS (OPeNDAP) access to the
          data</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="noNetCDF" type="xs:boolean" use="optional" default="true">
				<xs:annotation>
					<xs:documentation>indicates if data system should not try to parse the data into a netCDF
            files</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="minLatitude" type="latitude" use="optional">
				<xs:annotation>
					<xs:documentation>This is the minimum latitude of any data that is contained in the data
            file.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="maxLatitude" type="latitude" use="optional">
				<xs:annotation>
					<xs:documentation>This is the maximum latitude of any data that is contained in the data
            file.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="minLongitude" type="longitude" use="optional">
				<xs:annotation>
					<xs:documentation>This is the minimum longitude of any data that is contained in the data
            file.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="maxLongitude" type="longitude" use="optional">
				<xs:annotation>
					<xs:documentation>This is the maximum longitude of any data that is contained in the data
            file.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="minDepth" type="depth" use="optional">
				<xs:annotation>
					<xs:documentation>This is the minimum depth in meters of any data that is contained in the
            data file. These numbers are positive as you go deeper (0 = surface, 100 = 100
          meters)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="maxDepth" type="depth" use="optional">
				<xs:annotation>
					<xs:documentation>This is the maximum depth in meters of any data that is contained in the
            data file. These numbers are positive as you go deeper (0 = surface, 100 = 100
          meters)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ******************** -->
	<!-- DATA CONTAINER GROUP -->
	<!-- ******************** -->
	<xs:element name="DataContainerGroup">
		<xs:annotation>
			<xs:documentation>Defines logical groupings of DataContainers</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>internal database record ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="name" use="required">
				<xs:annotation>
					<xs:documentation>name of the logical grouping</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ************* -->
	<!-- DATA PRODUCER -->
	<!-- ************* -->
	<xs:element name="DataProducer">
		<xs:annotation>
			<xs:documentation>A producer of data</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataProducer" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DataProducerGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="Device" minOccurs="0"/>
				<xs:element ref="Event" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="input" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Keyword" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="output" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Person" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Resource" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Software" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>internal database record ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:annotation>
					<xs:documentation>name of the deployment</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2048"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="dataProducerType" use="required">
				<xs:annotation>
					<xs:documentation>Indicates what type of DataContainer it is</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="Deployment"/>
						<xs:enumeration value="ProcessRun"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="startDate" type="xs:dateTime" use="optional">
				<xs:annotation>
					<xs:documentation>date and time of beginning of the deployment</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="endDate" type="xs:dateTime" use="optional">
				<xs:annotation>
					<xs:documentation>date and time of end of the deployment</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="role" use="optional">
				<xs:annotation>
					<xs:documentation>MISSING</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="instrument"/>
						<xs:enumeration value="Instrument"/>
						<xs:enumeration value="sensor"/>
						<xs:enumeration value="Sensor"/>
						<xs:enumeration value="platform"/>
						<xs:enumeration value="Platform"/>
						<xs:enumeration value="observatory"/>
						<xs:enumeration value="Observatory"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nominalLatitude" type="latitude" use="optional">
				<xs:annotation>
					<xs:documentation>the physical location where the entity is (expected) to operate
            (degrees. North is positive); if no other location information is available, this serves
            as the location of data taken with this instrument</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="nominalLatitudeAccuracy" type="xs:double" use="optional">
				<xs:annotation>
					<xs:documentation>the possible error expected in the nominalLatitude
          (degrees)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="nominalLongitude" type="longitude" use="optional">
				<xs:annotation>
					<xs:documentation>the physical location where the entity is (expected) to operate
            (degrees, West is positive); if no other location information is available, this serves
            as the location of data taken with this instrument</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="nominalLongitudeAccuracy" type="xs:double" use="optional">
				<xs:annotation>
					<xs:documentation>the possible error expected in the nominalLongitude
          (degrees)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="nominalDepth" type="depth" use="optional">
				<xs:annotation>
					<xs:documentation>the physical location where the entity is (expected) to operate (meters,
            below sea level is positive); if no other location information is available, this serves
            as the location of data taken with this instrument</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="nominalDepthAccuracy" type="xs:float" use="optional">
				<xs:annotation>
					<xs:documentation>the possible error expected in the nominalDepth</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="nominalBenthicAltitude" type="xs:float" use="optional">
				<xs:annotation>
					<xs:documentation>the physical location where the entity is (expected) to operate (meters,
            above sea floor is positive); if no other location information is available, this serves
            as the location of data taken with this instrument; typically metadata specifies either
            a depth or a benthic altitude, but not both</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="nominalBenthicAltitudeAccuracy" type="xs:float" use="optional">
				<xs:annotation>
					<xs:documentation>the possible error expected in the
          nominalBenthicAltitude</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="xOffset" type="xs:float" use="optional">
				<xs:annotation>
					<xs:documentation>the physical location where the entity is (expected) to operate (meters,
            distance from parent along X axis of parent); if no other location information is
            available, this serves as the location of data taken with this
          instrument</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="yOffset" type="xs:float" use="optional">
				<xs:annotation>
					<xs:documentation>the physical location where the entity is (expected) to operate (meters,
            distance from parent along Y axis of parent); if no other location information is
            available, this serves as the location of data taken with this
          instrument</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="zOffset" type="xs:float" use="optional">
				<xs:annotation>
					<xs:documentation>the physical location where the entity is (expected) to operate (meters,
            distance from parent along Z axis of parent); if no other location information is
            available, this serves as the location of data taken with this
          instrument</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="orientationDescription" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>MISSING</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="x3DOrientationText" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>MISSING</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="hostName" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>MISSING</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ******************* -->
	<!-- DATA PRODUCER GROUP -->
	<!-- ******************* -->
	<xs:element name="DataProducerGroup">
		<xs:annotation>
			<xs:documentation>Defines logical groupings of dataproducers (like missions or campaigns).
        Examples: BIOLUME, AUVCTD, OCCO</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="Deployment" minOccurs="0">
					<xs:annotation><xs:documentation>DEPRECATED; should not be here.  Put 
						DataProducerGroups under DataProducer instead of the other 
						way around.</xs:documentation></xs:annotation>
				</xs:element>
				<xs:element ref="ProcessRun" minOccurs="0">
					<xs:annotation><xs:documentation>DEPRECATED; should not be here.  Put 
						DataProducerGroups under DataProducer instead of the other 
						way around.</xs:documentation></xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>internal database record ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="name" use="required">
				<xs:annotation>
					<xs:documentation>name of the logical grouping Examples: BIOLUME, AUVCTD,
          OCCO</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ****** -->
	<!-- DEVICE -->
	<!-- ****** -->
	<xs:element name="Device">
		<xs:annotation>
			<xs:documentation>Instrument, sensors and platforms</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element name="DeviceType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>A class that can be used to group devices by like
            types</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="description" minOccurs="0"/>
						</xs:sequence>
						<xs:attribute name="id" type="xs:long" use="required">
							<xs:annotation>
								<xs:documentation>internal database record ID</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="name" use="required">
							<xs:annotation>
								<xs:documentation>name of the device type</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="defaultDeploymentRole" use="optional">
							<xs:annotation>
								<xs:documentation>DEPRECATED; do not use this.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:token">
									<xs:enumeration value="instrument"/>
									<xs:enumeration value="Instrument"/>
									<xs:enumeration value="sensor"/>
									<xs:enumeration value="Sensor"/>
									<xs:enumeration value="platform"/>
									<xs:enumeration value="Platform"/>
									<xs:enumeration value="observatory"/>
									<xs:enumeration value="Observatory"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="displayInDeviceTypesPicklist" type="xs:boolean" use="optional"
							default="false">
							<xs:annotation>
								<xs:documentation>DEPRECATED; do not use this.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Person" minOccurs="0"/>
				<xs:element ref="Resource" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:long" use="required">
				<xs:annotation>
					<xs:documentation>internal database record ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="name" use="optional">
				<xs:annotation>
					<xs:documentation>name of the device</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="uuid" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>This is a UUID for the device</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mfgName" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>name of the company which manufactured this device</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mfgModel" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>model number for this device, per the manufacturer (as specific as
            possible)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mfgSerialNumber" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>serial number of the device</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="infoUrlList" use="optional">
				<xs:annotation>
					<xs:documentation>one or more URLs with information on this instrument; provide in the
            form url description</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2048"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>DEPRECATED; do not use this, use DeviceType 
						element instead.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="preferredDeploymentRole" use="optional">
				<xs:annotation>
					<xs:documentation>DEPRECATED; do not use this.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="instrument"/>
						<xs:enumeration value="Instrument"/>
						<xs:enumeration value="sensor"/>
						<xs:enumeration value="Sensor"/>
						<xs:enumeration value="platform"/>
						<xs:enumeration value="Platform"/>
						<xs:enumeration value="observatory"/>
						<xs:enumeration value="Observatory"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ***** -->
	<!-- EVENT -->
	<!-- ***** -->
	<xs:element name="Event">
		<xs:annotation>
			<xs:documentation>an occurrence which occupies a defined period of time (usually instantaneous
        or very short)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>internal database record ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="name" use="required">
				<xs:annotation>
					<xs:documentation>name of the event</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="startDate" type="xs:dateTime" use="required">
				<xs:annotation>
					<xs:documentation>date and time of beginning of event</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="endDate" type="xs:dateTime" use="required">
				<xs:annotation>
					<xs:documentation>date and time of end of event</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ****************** -->
	<!-- HEADER DESCRIPTION -->
	<!-- ****************** -->
	<xs:element name="HeaderDescription">
		<xs:annotation>
			<xs:documentation>Description of headers on simple ASCII files, used to ignore the headers and
        find the data</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element name="commentTag" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>DEPRECATED; use CommentTag</xs:documentation>
					</xs:annotation>
					<xs:complexType mixed="true">
						<xs:attribute name="id" type="xs:long" use="optional"/>
						<xs:attribute name="tagString" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="CommentTag" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> Tags (strings) that indicate comments in headers; once non-header
              line is found, all lines are treated as data. Multiple CommentTag elements may be
              entered.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="id" type="xs:long" use="optional"/>
						<xs:attribute name="tagString" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>internal database record ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="numHeaderLines" type="xs:integer" use="optional">
				<xs:annotation>
					<xs:documentation>number of lines contained in the header</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="byteOffset" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>number of bytes contained in the header</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ******* -->
	<!-- KEYWORD -->
	<!-- ******* -->
	<xs:element name="Keyword">
		<xs:annotation>
			<xs:documentation>This is an element to represent a keyword that can be linked to various
        items</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>internal database record ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="name" use="required">
				<xs:annotation>
					<xs:documentation>name of the keyword</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ****** -->
	<!-- PERSON -->
	<!-- ****** -->
	<xs:element name="Person">
		<xs:annotation>
			<xs:documentation>a person related to an entity (instrument, data stream, ...), including the
        information needed to contact that person in case of questions (the person should be the
        authority responsible for creating or maintaining the entity)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UserGroup" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A UserGroup can be used to define roles of persons</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="id" type="xs:long" use="optional"/>
						<xs:attribute name="groupName" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>internal database record ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="firstname" use="optional">
				<xs:annotation>
					<xs:documentation>person's first name</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="surname" use="optional">
				<xs:annotation>
					<xs:documentation>person's family name</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="organization" use="optional">
				<xs:annotation>
					<xs:documentation>organization to which the person belongs (e.g.,
          MBARI)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="username" use="optional">
				<xs:annotation>
					<xs:documentation>The username in SSDS</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="password" use="optional">
				<xs:annotation>
					<xs:documentation>The person's password (typically not provided in XML documentation of data records</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="email" use="optional">
				<xs:annotation>
					<xs:documentation>email address of the person</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="phone" use="optional">
				<xs:annotation>
					<xs:documentation>primary phone number (10 digits) of the person</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="address1" use="optional">
				<xs:annotation>
					<xs:documentation>first line of work address where person can be
          reached</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="address2" use="optional">
				<xs:annotation>
					<xs:documentation>second line of work address where person can be
          reached</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="city" use="optional">
				<xs:annotation>
					<xs:documentation>city where person works</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="state" use="optional">
				<xs:annotation>
					<xs:documentation>state where person works</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="zipcode" use="optional">
				<xs:annotation>
					<xs:documentation>zip code where person works</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="status" use="optional">
				<xs:annotation>
					<xs:documentation>whether the named person is a current member of the organization listed as of the date of the metadata record's creation</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="active"/>
						<xs:enumeration value="inactive"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="displayInPersonPicklist" type="xs:boolean" use="optional" default="true">
				<xs:annotation>
					<xs:documentation>DEPRECATED; do not use this.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ****************** -->
	<!-- RECORD DESCRIPTION -->
	<!-- ****************** -->
	<xs:element name="RecordDescription">
		<xs:annotation>
			<xs:documentation>Description of a record in a DataContainer or DataPacket</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RecordVariable" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="description" minOccurs="0"/>
							<xs:element ref="StandardDomain" minOccurs="0"/>
							<xs:element ref="StandardKeyword" minOccurs="0"/>
							<xs:element ref="StandardReferenceScale" minOccurs="0"/>
							<xs:element ref="StandardUnit" minOccurs="0"/>
							<xs:element ref="StandardVariable" minOccurs="0"/>
						</xs:sequence>
						<xs:attribute name="id" type="xs:long" use="optional">
							<xs:annotation>
								<xs:documentation>internally maintained ID</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="name" use="required">
							<xs:annotation>
								<xs:documentation>name of an item in the Record; uniqueness is required within each
                  RecordDescription; the name must consist of letters, numbers, dashes, and
                  underscores (no whitespace)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="[a-zA-Z0-9_\-]+"/>
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>						</xs:attribute>
						<xs:attribute name="columnIndex" type="xs:long" use="optional">
							<xs:annotation>
								<xs:documentation>parsing order of this item in the Record (not used if record is
                  specified as fixed-position record)</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="format" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>format of the data item (float, int, or string are currently
                  supported; just used as a parsing guide, so float also applies to doubles, and int
                  also to longs)</xs:documentation>
								<!-- future enumerations may include the "FLOAT8" used in 1004_mtm.xml -->
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="longName" use="optional">
							<xs:annotation>
								<xs:documentation>a longer name for the item, useful for display</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="units" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>units in which item is represented (user format; see also
                  StandardUnit element)</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="missingValue" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>value used to represent a missing datum for this
                item</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="accuracy" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>nominal accuracy of the data reported for this item (in same units
                  as measurement)</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="validMin" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>minimum valid value for this item (under any
                circumstances)</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="validMax" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>maximum valid value for this item (under any
                circumstances)</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="displayMin" type="xs:double" use="optional">
							<xs:annotation>
								<xs:documentation>minimum of default displayed range for item</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="displayMax" type="xs:double" use="optional">
							<xs:annotation>
								<xs:documentation>maximum minimum of default displayed range for
                item</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="parseRegExp" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>the regular expression within which the item is included (standard
                  Java parseable regular expressions)</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="referenceScale" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>reference scale</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="conversionScale" type="xs:double" use="optional">
							<xs:annotation>
								<xs:documentation>scale factor to be applied to generate a converted value (result =
                  scale * value + offset)</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="conversionOffset" type="xs:double" use="optional">
							<xs:annotation>
								<xs:documentation>offset to be applied to generate a converted value (result = scale
                  * value + offset)</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="convertedUnits" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>resulting units after scale/offset conversion is
                applied</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="sourceSensorID" type="xs:long" use="optional">
							<xs:annotation>
								<xs:documentation>the ID number (in the SSDS device database)
								of the sensor originating this particular data buffer</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>internally maintained identification number</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="recordType" type="xs:long" use="required">
				<xs:annotation>
					<xs:documentation>a value greater than 0 to indicates a
					particular type of data record (in the data stream, packets with a value of 0 
					for the recordType indicate a metadata record (that is, a record 
					that describes the other data formats, as for example a device XML description file) </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="bufferStyle" use="optional">
				<xs:annotation>
					<xs:documentation>indicates whether buffer contains just ASCII data, or at least some
					binary data (if any of the data is binary, the whole buffer is considered binary)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="ASCII"/>
						<xs:enumeration value="ascii"/>
						<xs:enumeration value="binary"/>
						<xs:enumeration value="BINARY"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="bufferParseType" use="optional">
				<xs:annotation>
					<xs:documentation>indicates how data can be parsed from buffer: fixedPosition buffers have
            items at the same offset from the start of buffer; ordered buffers must be parsed
            according to the order in which items appear, and may have tokens which precede or
            follow one or more data items; uniqueToken buffer items do not appear in any consistent 
            fixed order, but must be recognized by their attached token; mime buffers can be parsed 
            according to the mime type described in the corresponding Record's mimeType attribute
            </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="fixed"/>
						<xs:enumeration value="ordered"/>
						<xs:enumeration value="unique_token"/>
						<xs:enumeration value="mime"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="bufferItemSeparator" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>for ASCII buffers, the entity that separates each buffer item from the
            next. Strings can take the form of a single character separator (for example, a comma or
            a space), or a symbolic name. Supported symbols include 'space', 'tab', and 'whitespace'
            (all transformed to '\s+', as is '' and ' ') and 'comma'.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="bufferLengthType" use="optional">
				<xs:annotation>
					<xs:documentation>if 'fixed', all valid packets will be of same length, and packets of
            other lengths will be rejected (stored in a separate container); this characteristic can
            be used to optimize random access to data within the saved set of raw packets (but will
            only be used according to bufferParseType)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="fixed"/>
						<xs:enumeration value="Fixed"/>
						<xs:enumeration value="variable"/>
						<xs:enumeration value="Variable"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="recordTerminator" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>the series of characters which terminate each ASCII
          record</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="parseable" use="optional" default="false">
				<xs:annotation>
					<xs:documentation>indicates whether this data format is regular enough to be
          parsed; bufferParseType attribute indicates how it can be parsed</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="true"/>
						<xs:enumeration value="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="endian" use="optional">
				<xs:annotation>
					<xs:documentation>indicates endian-ness of byte sequences that make up numbers; 'little'
            means the first byte is least significant, 'big' means first byte is most significant
            (Intel x86 processors are little-endian, Sun SPARC and PowerPC big-endian); default
            endianness is according to the SSDS host (big, so far)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="little"/>
						<xs:enumeration value="big"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="recordParseRegExp" use="optional">
				<xs:annotation>
					<xs:documentation>This is a regular expression that can be used to parse 
						a record into variables</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2048"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ******** -->
	<!-- RESOURCE -->
	<!-- ******** -->
	<xs:element name="Resource">
		<xs:annotation>
			<xs:documentation>URL reference to arbitrary resources, such as calibration files or technical
        documentation</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="Keyword" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Person" minOccurs="0"/>
				<xs:element name="ResourceBLOB" minOccurs="0">
					<xs:annotation>
						<xs:documentation>A reference to a binary blob that can be associated with a
            Resource</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="description" minOccurs="0"/>
						</xs:sequence>
						<xs:attribute name="id" type="xs:long" use="optional">
							<xs:annotation>
								<xs:documentation>internal database record ID</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="name" use="required">
							<xs:annotation>
								<xs:documentation>This is the name of the ResourceBLOB</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="2048"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute type="xs:base64Binary" name="byteArray" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="ResourceType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>This is used for grouping or processing resources that are
            similar</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="description" minOccurs="0"/>
						</xs:sequence>
						<xs:attribute name="id" type="xs:long" use="optional">
							<xs:annotation>
								<xs:documentation>internal database record ID</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="name" use="required">
							<xs:annotation>
								<xs:documentation>name of the resource type grouping</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>internal database record ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="name" use="optional">
				<xs:annotation>
					<xs:documentation>name of the resource</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="startDate" type="xs:dateTime" use="optional">
				<xs:annotation>
					<xs:documentation>date and time of earliest data record in, or creation date of,
          resource</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="endDate" type="xs:dateTime" use="optional">
				<xs:annotation>
					<xs:documentation>date and time of latest data record in, or last modification of,
            resource</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="uri" type="uriString" use="required">
				<xs:annotation>
					<xs:documentation>URL reference to specified item</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="url" type="xs:anyURI" use="optional">
				<xs:annotation>
					<xs:documentation>DEPRECATED; use uri instead</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="contentLength" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>?length of the resource (used for ?)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mimeType" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>one of the standard MIME types (defined at
            http://www.iana.org/assignments/media-types/), or extensions (defined at
            http://www.mbari.org/ssds/referenceStds/mimetypes.html); typically used by external
            applications when accessing the data resource</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="resourceType" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>DEPRECATED; use ResourceType element instead</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ******** -->
	<!-- SOFTWARE -->
	<!-- ******** -->
	<xs:element name="Software">
		<xs:annotation>
			<xs:documentation>Descriptive information of the software used in a
      ProcessRun</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="Person" minOccurs="0"/>
				<xs:element ref="Resource" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>internal database record ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="name" use="required">
				<xs:annotation>
					<xs:documentation>name of the software used in a ProcessRun</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="uri" type="uriString" use="optional">
				<xs:annotation>
					<xs:documentation>pointer (e.g., via cvsweb) to the specific release of the software being
            described</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="url" type="xs:anyURI" use="optional">
				<xs:annotation>
					<xs:documentation>DEPRECATED; use uri instead.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="softwareVersion" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>version of the software used in a ProcessRun</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="version" type="xs:string">
				<xs:annotation>
					<xs:documentation>DEPRECATED; use softwareVersion instead.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- *************** -->
	<!-- STANDARD DOMAIN -->
	<!-- *************** -->
	<xs:element name="StandardDomain">
		<xs:annotation>
			<xs:documentation>a defined domain (concepts like land, ocean, sea surface, etc.) in which the
        measurement is being taken; defined domains are documented at
        http://www.mbari.org/ssds/referenceStds/domains.html)</xs:documentation>
		</xs:annotation>
		<!-- This table in the database contains more fields and foreign keys, but these are not exposed in the XML.-->
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>internal database record ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="name" use="required">
				<xs:annotation>
					<xs:documentation>name of the standard domain</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- **************** -->
	<!-- STANDARD KEYWORD -->
	<!-- **************** -->
	<xs:element name="StandardKeyword">
		<xs:annotation>
			<xs:documentation>defined keywords which apply to the measurement being taken; defined
        keywords are documented at
      http://www.mbari.org/ssds/referenceStds/keywords.html)</xs:documentation>
		</xs:annotation>
		<!-- This table in the database contains more fields and foreign keys, but these are not exposed in the XML.-->
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>internal database record ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="name" use="required">
				<xs:annotation>
					<xs:documentation>name of the standard keyword</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ************************ -->
	<!-- STANDARD REFERENCE SCALE -->
	<!-- ************************ -->
	<xs:element name="StandardReferenceScale">
		<xs:annotation>
			<xs:documentation>a defined reference scale which describes the measurement being taken;
        defined reference scales are documented at
        http://www.mbari.org/ssds/referenceStds/referenceScales.html)</xs:documentation>
		</xs:annotation>
		<!-- This table in the database contains more fields and foreign keys, but these are not exposed in the XML.-->
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>internal database record ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="name" use="required">
				<xs:annotation>
					<xs:documentation>name of the defined standard reference scale</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ************* -->
	<!-- STANDARD UNIT -->
	<!-- ************* -->
	<xs:element name="StandardUnit">
		<xs:annotation>
			<xs:documentation>a defined unit of measurement; defined units are documented at
        http://www.mbari.org/ssds/referenceStds/units.html)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>internal database record ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="name" use="required">
				<xs:annotation>
					<xs:documentation>name of the standard unit</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="longName" use="optional">
				<xs:annotation>
					<xs:documentation>longer name of the standard unit (used for
          presentation)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="symbol" use="optional">
				<xs:annotation>
					<xs:documentation>symbol used to display the units</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ***************** -->
	<!-- STANDARD VARIABLE -->
	<!-- ***************** -->
	<xs:element name="StandardVariable">
		<xs:annotation>
			<xs:documentation>a defined name which describes the measurement being taken; defined names
        are documented at http://www.mbari.org/ssds/referenceStds/variables.html)</xs:documentation>
		</xs:annotation>
		<!-- This table in the database contains more fields and foreign keys, but these are not exposed in the XML.-->
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="StandardUnit" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>internal database record ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="name" use="required">
				<xs:annotation>
					<xs:documentation>name of the standard variable</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="namespaceUriString" type="uriString" use="required">
				<xs:annotation>
					<xs:documentation>URI of the variable's namespace</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="referenceScale" use="optional">
				<xs:annotation>
					<xs:documentation>MISSING</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- Some defintions to facilitate re-use -->
	<!-- Consumer -->
	<xs:element name="consumer">
		<xs:annotation>
			<xs:documentation>DataProducers that consumed DataContainers</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="DataProducer" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!-- Depth -->
	<xs:simpleType name="depth">
		<xs:restriction base="xs:float"/>
	</xs:simpleType>
	<!-- Description -->
	<xs:element name="description">
		<xs:annotation>
			<xs:documentation>Description of an object</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Input -->
	<xs:element name="input">
		<xs:annotation>
			<xs:documentation>the data input to a DataProducer</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataContainer" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DataFile" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation><xs:documentation>DEPRECATED; use DataContainer 
						element instead.</xs:documentation></xs:annotation>
				</xs:element>
				<xs:element ref="DataStream" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation><xs:documentation>DEPRECATED; use DataContainer 
						element instead.</xs:documentation></xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- Latitude -->
	<xs:simpleType name="latitude">
		<xs:restriction base="xs:double">
			<xs:maxInclusive value="90"/>
			<xs:minInclusive value="-90"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Longitude -->
	<xs:simpleType name="longitude">
		<xs:restriction base="xs:double">
			<xs:maxInclusive value="360"/>
			<xs:minInclusive value="-360"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Name -->
	<xs:simpleType name="name">
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Output -->
	<xs:element name="output">
		<xs:annotation>
			<xs:documentation>the data output from a DataProducer and should be a
      DataContainer</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataContainer" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DataFile" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation><xs:documentation>DEPRECATED; use DataContainer 
						element instead.</xs:documentation></xs:annotation>
				</xs:element>
				<xs:element ref="DataStream" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation><xs:documentation>DEPRECATED; use DataContainer 
						element instead.</xs:documentation></xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- URIString -->
	<xs:simpleType name="uriString">
		<xs:restriction base="xs:anyURI">
			<xs:maxLength value="2048"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ************************************ -->
	<!-- ELEMENTS FOR BACKWARDS COMPATIBILITY -->
	<!-- ************************************ -->
	<xs:element name="DataFile">
		<xs:annotation>
			<xs:documentation>Reference to data stored in a file</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="destiny" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Person" minOccurs="0"/>
				<xs:element ref="Resource" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HeaderDescription" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="RecordDescription" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>internal database record ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="url" type="xs:anyURI" use="required">
				<xs:annotation>
					<xs:documentation>URL reference to specified item</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="startDate" type="xs:dateTime" use="optional">
				<xs:annotation>
					<xs:documentation>date and time of earliest data record in file</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="endDate" type="xs:dateTime" use="optional">
				<xs:annotation>
					<xs:documentation>date and time of latest data record in file</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>?name of data file (can be a logical name)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="original" type="xs:boolean" use="optional" default="false">
				<xs:annotation>
					<xs:documentation>whether this is original data submitted to SSDS, or has been modified
						from its original format</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="dodsAccessible" type="xs:boolean" use="optional" default="false">
				<xs:annotation>
					<xs:documentation>?whether data can be accessible via DODS server</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="contentType" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>DEPRECATED; do not use.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mimeType" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>?one of the standard MIME types (defined at
						http://www.iana.org/assignments/media-types/), or extensions (defined at
						http://www.mbari.org/ssds/referenceStds/mimetypes.html); typically used by external
						applications when accessing the data resource</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="fileName" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>DEPRECATED; do not use.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="contentLength" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>?size of the file (used for display, e.g., in user
						interfaces)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataStream">
		<xs:annotation>
			<xs:documentation>Reference to a data stream</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="destiny" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Person" minOccurs="0"/>
				<xs:element ref="Resource" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="RecordDescription" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>internal database record ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="url" type="xs:anyURI" use="optional">
				<xs:annotation>
					<xs:documentation>URL reference to specified data stream</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="startDate" type="xs:dateTime" use="optional">
				<xs:annotation>
					<xs:documentation>date and time of earliest data record in stream</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="endDate" type="xs:dateTime" use="optional">
				<xs:annotation>
					<xs:documentation>date and time of latest data record in stream</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>name of data stream when stored as file</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="original" type="xs:boolean" use="optional" default="false">
				<xs:annotation>
					<xs:documentation>whether this is original data submitted to SSDS, or has been modified
						from its original format</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="contentType" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>DEPRECATED; do not use.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mimeType" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>?one of the standard MIME types (defined at
						http://www.iana.org/assignments/media-types/), or extensions (defined at
						http://www.mbari.org/ssds/referenceStds/mimetypes.html); typically used by external
						applications when accessing the data resource</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="contentLength" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>MISSING</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Deployment">
		<xs:annotation>
			<xs:documentation>DEPRECATED; use DataProducer</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Device"/>
				<xs:element ref="Deployment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Person" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="input" minOccurs="0"/>
				<xs:element ref="Resource" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Event" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="output" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="role" use="required">
				<xs:annotation>
					<xs:documentation>MISSING</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="instrument"/>
						<xs:enumeration value="Instrument"/>
						<xs:enumeration value="sensor"/>
						<xs:enumeration value="Sensor"/>
						<xs:enumeration value="platform"/>
						<xs:enumeration value="Platform"/>
						<xs:enumeration value="observatory"/>
						<xs:enumeration value="Observatory"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>internal database record ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>name of the deployment</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="startDate" type="xs:dateTime" use="optional">
				<xs:annotation>
					<xs:documentation>date and time of beginning of the deployment</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="endDate" type="xs:dateTime" use="optional">
				<xs:annotation>
					<xs:documentation>date and time of end of the deployment</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="nominalLongitude" use="optional">
				<xs:annotation>
					<xs:documentation>the physical location where the entity is (expected) to operate
						(degrees, West is positive); if no other location information is available, this serves
						as the location of data taken with this instrument</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:whiteSpace value="collapse"/>
						<xs:minExclusive value="-360"/>
						<xs:maxExclusive value="360"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nominalLongitudeAccuracy" type="xs:double" use="optional">
				<xs:annotation>
					<xs:documentation>the possible error expected in the nominalLongitude
						(degrees)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="nominalLatitude" use="optional">
				<xs:annotation>
					<xs:documentation>the physical location where the entity is (expected) to operate
						(degrees. North is positive); if no other location information is available, this serves
						as the location of data taken with this instrument</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:minExclusive value="-90"/>
						<xs:maxExclusive value="90"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nominalLatitudeAccuracy" type="xs:double" use="optional">
				<xs:annotation>
					<xs:documentation>the possible error expected in the nominalLatitude
						(degrees)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="nominalDepth" type="xs:float" use="optional">
				<xs:annotation>
					<xs:documentation>the physical location where the entity is (expected) to operate (meters,
						below sea level is positive); if no other location information is available, this serves
						as the location of data taken with this instrument</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="nominalDepthAccuracy" type="xs:float" use="optional">
				<xs:annotation>
					<xs:documentation>the possible error expected in the nominalDepth</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="nominalBenthicAltitude" type="xs:float" use="optional">
				<xs:annotation>
					<xs:documentation>the physical location where the entity is (expected) to operate (meters,
						above sea floor is positive); if no other location information is available, this serves
						as the location of data taken with this instrument; typically metadata specifies either
						a depth or a benthic altitude, but not both</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="nominalBenthicAltitudeAccuracy" type="xs:float" use="optional">
				<xs:annotation>
					<xs:documentation>the possible error expected in the
						nominalBenthicAltitude</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="xOffset" type="xs:float" use="optional">
				<xs:annotation>
					<xs:documentation>the physical location where the entity is (expected) to operate (meters,
						distance from parent along X axis of parent); if no other location information is
						available, this serves as the location of data taken with this
						instrument</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="yOffset" type="xs:float" use="optional">
				<xs:annotation>
					<xs:documentation>the physical location where the entity is (expected) to operate (meters,
						distance from parent along Y axis of parent); if no other location information is
						available, this serves as the location of data taken with this
						instrument</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="zOffset" type="xs:float" use="optional">
				<xs:annotation>
					<xs:documentation>the physical location where the entity is (expected) to operate (meters,
						distance from parent along Z axis of parent); if no other location information is
						available, this serves as the location of data taken with this
						instrument</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="orientationDescription" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>MISSING</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="x3DOrientationText" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>MISSING</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProcessRun">
		<xs:annotation>
			<xs:documentation>Software process that creates DataContainers</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="Person" minOccurs="0"/>
				<xs:element ref="Software" minOccurs="0"/>
				<xs:element ref="Resource" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Event" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="input" minOccurs="0"/>
				<xs:element ref="output" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="startDate" type="xs:dateTime" use="optional">
				<xs:annotation>
					<xs:documentation>date/time the process began running</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="endDate" type="xs:dateTime" use="optional">
				<xs:annotation>
					<xs:documentation>date/time the process finished running</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>name of the process run</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="id" type="xs:long" use="optional">
				<xs:annotation>
					<xs:documentation>internal database record ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="hostName" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>name of the host on which the process executed</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="destiny">
		<xs:annotation>
			<xs:documentation>DataProducers that used the parent DataContainer</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Deployment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ProcessRun" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>
